:root {
    --mc: #264653;
    --mc2: #2A9D8F;
    --mc3: #E9C46A;
    --mc4: #F4A261;
    --mc5: #E76F51;
    --white: #ffffff;
    }
    
* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    background-color: var(--mc);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);
}

h2 {
    font-size: 18px;
}

header {
    width: 20%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li {
    padding-bottom: 1em;
}

nav li i {
    margin-right: 1em;
}

main {
    margin-left: 3em;
}

main i {
    margin-left: 1rem;
}

footer {
    display: flex;
    flex-grow: 1;
    padding: 20em;
    flex: 0 0 100%;
}

footer i {
    margin: .5em;
}

/* home */

.banner {
    width: 1000px;
    height: 20vh;
    background-image: url("webdevbanner.png");
    background-repeat: no-repeat;
    background-size:contain;
}

.pfp {
    background-image: url("headshot.png");
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    margin-top: -5em;
    margin-left: 1em;
}

.posts ul {
    display: flex;
}

.posts ul li {
    display: block;
    padding: .5em;
}

.posts li:hover {
    border-bottom: 5px solid var(--mc3);
}

.posts ul>li a:hover, a:active {
    color: white;
}

.posts li a, a:visited, a:hover {
    color: white;
}



/* about */


